@model IEnumerable<LvhLesson06CF.Models.LvhCategory>

@{
    ViewBag.Title = "LvhIndex";
}

<h2>LvhIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LvhID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LvhCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LvhID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LvhCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
